{% extends "base.html" %}

{% block title %}Registro{% endblock title %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <!-- ============================ COMPONENT REGISTER ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            <header class="mb-4"><h4 class="card-title">Registrar</h4></header>
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col form-group">
                        <label for="first_name">First name</label>
                        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="">
                    </div> <!-- form-group end.// -->
                    <div class="col form-group">
                        <label for="last_name">Last name</label>
                        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="">
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row end.// -->
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="">
                    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div> <!-- form-group end.// -->
                <div class="form-group">
                    <label>Gender</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="gender_male" name="gender" value="male" checked>
                        <label class="form-check-label" for="gender_male">
                            Male
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="gender_female" name="gender" value="female">
                        <label class="form-check-label" for="gender_female">
                            Female
                        </label>
                    </div>
                </div> <!-- form-group end.// -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" name="city">
                    </div> <!-- form-group end.// -->
                    <div class="form-group col-md-6">
                        <label for="country">Country</label>
                        <select id="country" name="country" class="form-control">
                            <option value="">Choose...</option>
                            <option value="uzbekistan">Uzbekistan</option>
                            <option value="russia">Russia</option>
                            <option value="united_states" selected>United States</option>
                            <option value="india">India</option>
                            <option value="afganistan">Afganistan</option>
                        </select>
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row end.// -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="password">Create password</label>
                        <input class="form-control" type="password" id="password" name="password">
                    </div> <!-- form-group end.// -->
                    <div class="form-group col-md-6">
                        <label for="repeat_password">Repeat password</label>
                        <input class="form-control" type="password" id="repeat_password" name="repeat_password">
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row end.// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Register </button>
                </div> <!-- form-group// -->
            </form>
        </article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Have an account? <a href="{% url 'login' %}">Log In</a></p>
    <br><br>
    <!-- ============================ COMPONENT REGISTER END.// ================================= -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}

